body {
    background-color: #f7c334;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#textBox {
    width: 15rem;
    height: 1.4rem;
    border-radius: 6px;
    border: solid 2px;
    padding: 5px;
    font-size: 12px;
}

#wrapper {
    text-align: center;
    margin-top: 40px;
}

#logo {
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    border: solid 1px;
}